*{
  background-image: linear-gradient(to top right, #00A7F5, #00AE71);
  background-attachment: fixed;
}

h2 {
  padding: 0px;
  border: 0px;
  margin: 0px;
}

#ProfilePicture {
  height: 150px;
  width: auto;
}

#Forecast, #Boston1, #Bus {
  height: auto;
  width: 400px;
  text-align: center;
}

#AboutMeText, #Project1, #Project2, #Project3 {
  color: white;
}

#HeaderOrganization, #Project1, #Project2, #Project3 {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

#thepicture {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}